body{
    background-color: #fffb7f;

}

h1{
    font-size: 60px;
    color: #025157;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button{
    color: #f50e0e;
    background-color: #fffbf7;
}

ul{
    display: inline-block;
}

.header {
    margin: 40px 25px 25px 25px;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-style: sans-serif;


}

.navbar-brand {
    width: 15%;
}
.navbar-brand > img {
    width: 20%;
    margin-left: 100px;
}

.container-fluid {
    width: 100%;
    text-align: left;
    color: #025157;
    font-family: 600; 
    
}

.d-flex {
    width: 40%;
    font-size: 14px;
    font-weight: 600;
    color: #67b54b;
    
    
}
.d-flex button {
    width: 50%;
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
  }

  .main {
      margin-top: 285px;

  }

  .publish {
    /* container styles if any */
    margin-left: 10px;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px; 
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .vid {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  .vid img {
      width: 120px;
      margin-top: 10px;

  }

  .fixed-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
  }
  iframe {
    display: flex;
    margin: auto;
  }
  
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .features {
      display: grid;
      height: 660px;
      padding: 50px 100px;
      background-color: #025157;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr) ;
      gap: 30px
      
  }

.caja {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    justify-content: space-around;
    
    
}

.izq {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 10%;
    justify-content: center;
}

.izq img {
    align-self: center;
    width: 20%;
}

.izq h2 {
    font-family: "Monserrat";
    font-weight: 500;
}

.izq p {
    font-family: "Monserrat";
    font-size: 1rem;
}

.izq a {
    font-family: sans-serif;
    color: #67b54b;
    font-weight: 700;
    text-decoration: none;
}


.der {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.der img{
    width: 100%;
    position: absolute;
    left: 30%;
}



/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar,
    .actions{
        display: none;
    }
    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 150px;
    }

    .banner > img {
        width: 100%;
        margin-top: 0;
    }

    .banner  { /* Esto yo se lo agregue */ 
        margin-top: 0;
    }

    .publish > form {
        flex-direction: column;
    } /* hola */

    .publish > form {
        height: 50px;
        margin-top: 10px;
    }

    .publish > form > div > input {
        width: 65px;
        
    }

    .promo {
        flex-direction: column;
        max-width: 90%;
    }

    .explanatory-video {
        width: 100%;
    }
    
    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
      }
    
      .der {
        display: none;
      }

    
}

    



/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {

}