body{
    background-color: #fffb7f;

}

h1{
    color: #025157;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button{
    color: #f50e0e;
    background-color: #fffbf7;
}

ul{
    display: inline-block;
}

.header {
    margin: 40px 25px 25px 25px;
    font-size: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-style: sans-serif;


}

.logo {
    width: 15%;
}
.logo > img {
    width: 20%;
    margin-left: 100px;
}

.navbar {
    width: 60%;
    text-align: left;
    color: #025157;
    font-family: 600;
    
    
    
}

.actions {
    width: 15%;
    font-size: 14px;
    font-weight: 600;
    color: #67b54b;
    
}
button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
  }

  .main {
      margin-top: 285px;

  }

  .publish {
    /* container styles if any */
    margin-left: 10px;
  }
  
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px; 
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .vid {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
  .vid img {
      width: 120px;
      margin-top: 10px;

  }

  .fixed-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
  }
  iframe {
    display: flex;
    margin: auto;
  }
  
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .features {
      display: grid;
      height: 660px;
      padding: 50px 100px;
      background-color: #025157;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr) ;
      gap: 30px
      
  }

.caja {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    justify-content: space-around;
    
    
}

.izq {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 10%;
    justify-content: center;
}

.izq img {
    align-self: center;
    width: 20%;
}

.izq h2 {
    font-family: "Monserrat";
    font-weight: 500;
}

.izq p {
    font-family: "Monserrat";
    font-size: 1rem;
}

.izq a {
    font-family: sans-serif;
    color: #67b54b;
    font-weight: 700;
    text-decoration: none;
}


.der {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.der img{
    width: 100%;
    position: absolute;
    left: 30%;
}

